<div class="m-3">
    <!-- parameter binding is done by using [ ] = ""  and event binding is done by ( )="" -->

    <p>Two Way Binding</p>
    <label for="serverName">Server Name</label>
    <input type="text" id="serverName" class="mt-3 form-control" [(ngModel)]="serverName">
    <!-- <button class="btn btn-primary mt-3" [disabled]="!allowNewServer" (click)="onCreateServer()">Add New Server</button> -->
    <button class="btn btn-primary mt-3 m-2" [disabled]="serverName === '' " (click)="onCreateServer()">Add New Server</button>
    <button class="btn btn-primary mt-3 m-2" [disabled]="serverName === '' " (click)="onDeleteServer()">Delete Server</button>
    <!-- <p> {{ serverCreationStatus }}</p> -->
    <p *ngIf="serverCreated ;else noserver">{{serverCreationStatus}}</p>
    <ng-template #noserver>
        <p>No Server was Created</p>
    </ng-template>
    <!-- simple binding-->
    <!-- <span>One Way Binding</span> -->
    <!-- <input type="text" id="serverName" class="form-control" (input)="onUpdateServername($event);"> -->
    <!--  Two way binding -->
    <!-- <span>{{ serverName }}</span> -->
</div>

<div class="mt-1 mx-3">
    <label for="userName">UserName</label>
    <input type="text" class="form-control" [(ngModel)]="username">
    <p>{{ username }}</p>
    <!-- if username is empty then make button disabled -->
    <!-- by using '===' we will get value as true or false -->
    <button class="btn btn-primary" [disabled]="username === ''" (click)="ResetUser()">Reset User</button>

</div>
<div class="m-3">
    <app-server *ngFor="let server of servers"></app-server>

</div>